################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KashFlow_NET/.vs
/KashFlow_NET/KashFlow_NET/bin/Debug/netstandard2.0
/KashFlow_NET/KashFlow_NET/obj
/reset-author.sh
